extends layout 

block content 
    .container.contact-form
        .contact-image
            img(src='https://image.ibb.co/kUagtU/rocket_contact.png' alt='rocket_contact')
        .text-right
            button.btnProductos
                a.text-light(href='/api/productos')  Ver productos
        form(action='/api/productos' method='post')
            h3 Agrega un Producto
            .row.justify-content-center
                .col-md-6
                    .form-group
                        label(for='name') Nombre del producto: 
                        input.form-control(type='text' name='name' placeholder='example' value='')
                    .form-group
                        label(for='name')   Precio
                        input.form-control(type='text' name='precio' placeholder='$' value='')
                    .form-group
                        label(for='name')   URL de la imagen 
                        input.form-control(type='text' name='thumbnail' placeholder='http://example/' value='')
                    .form-group.justify-content-center
                        input.btnContact(type='submit' name='btnSubmit' value='Agregar Producto')